@import url("variables.css");
@import url("utilities.css");

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Heebo", sans-serif;
}

p {
  font-family: "Playfair Display", serif;
}

a {
  font-family: "Playfair Display", serif;
  text-decoration: none;
  color: inherit;
}

section {
  min-height: 100vh;
}

/* Navigation */
#navbar {
  background-color: var(--dark-color);
  height: 75px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

#nav-logo a {
  font-family: var(--title-font), sans-serif;
  color: var(--primary-color);
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

#navbar .flex {
  justify-content: space-between;
}

#navbar nav ul {
  display: flex;
}

#navbar ul a {
  font-family: var(--title-font), sans-serif;
  color: var(--primary-color);
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 20px 10px;
}

#navbar ul a:hover {
  background-color: var(--primary-color);
  color: var(--dark-color);
}

/* Intro section */
#intro {
  background-image: url(../images/intro-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

#intro .overlay {
  min-height: 100vh;
  width: 100%;
  background-color: #27272793;
}

.intro-title {
  font-size: 4rem;
  color: var(--primary-color);
  font-weight: bold;
  font-family: var(--title-font), sans-serif;
}

.intro-subtitle {
  font-size: 1.5rem;
  font-family: var(--title-font), sans-serif;
  background: #ffe600c5;
  color: var(--dark-color);
  padding: 5px;
  font-weight: bold;
}

.intro-more {
  padding-top: 100px;
  display: inline-block;
}

.intro-more img {
  width: 50px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Services Section */

#services {
  background-color: rgb(252, 250, 250);
  padding-top: 75px;
}

.services-heading {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}

.services-description {
  font-family: var(--title-font), sans-serif;
  height: 100%;
}

.services-description *:first-child {
  font-family: var(--title-font), sans-serif;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.services-description h2 {
  color: var(--primary-color);
  background-color: var(--dark-color);
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 15px;
  text-transform: uppercase;
  padding: 20px;
}

.services-description p {
  font-family: var(--title-font), sans-serif;
  color: var(--dark-color);
  line-height: 2rem;
}

.services-head-image img {
  width: 100%;
}

.services-cards {
  display: flex;
  margin-top: 25px;
  margin-bottom: 50px;
  justify-content: space-around;
}

.services-card {
  width: 250px;
  min-height: 400px;
}

.services-card:hover h3::before {
  background-color: var(--primary-color);
}

.services-card:hover {
  cursor: pointer;
}

.services-card h3::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: var(--secondary-color);
  margin-right: 5px;
}

.services-card h3 {
  font-family: var(--title-font), sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  padding: 0 0 10px;
  color: var(--dark-color);
  display: inline-block;
}

.services-card img {
  width: 100%;
}

.services-card p {
  font-family: var(--title-font), sans-serif;
  padding: 10px;
  line-height: 1.7rem;
  color: var(--dark-color);
}
