.select-off {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container {
  width: 1280px;
  margin: 0 auto;
  overflow: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center; /*vertical center*/
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.alert {
  padding: 50px 50px;
  margin: 50px;
}

.alert p {
  font-weight: 600;
}

.success {
  background-color: #3a833c;
}

.warning {
  color: var(--dark-color);
  background-color: var(--primary-color);
}

.danger {
  color: #fff;
  background-color: var(--secondary-color);
}
