:root {
  --primary-color: #ffe400;
  --dark-color: #272727;
  --light-color: #f0f0f0;
  --secondary-color: #ff652f;
  --text-color: #525252;
  --title-font: "Heebo";
  --paragraph-font: "Playfair Display";
  --image-brightness: brightness(85%);
}

/* font-family: 'Heebo', sans-serif;
font-family: 'Playfair Display', serif; */
